@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an ASP.NET Core MVC prototype that uses native OpenID Connect Middleware to integrate with Okta's Identity Provider.</p>
</div>
