@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "MoreInfo";
}

<h1>More Info</h1>
<p>
    This is more information about this page.
</p>
