@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET Core 3.1 Identity Management</h1>

    <div class="alert">
        <a class="btn btn-info" asp-action="Member">Enter Member Area</a>
    </div>

    <div class="alert">
        <a class="btn btn-info" asp-action="Admin">Enter Admin Area</a>
    </div>
</div>
